body {
    margin: 10px;
  }
  
  .main {
    position: absolute;
    width: calc(100% - 106px);
    height: 838px;
    left: 53px;
    top: 36px;
  
    background: #db3d3d;
    border-radius: 60px;
  }
  
  .header-line {
    display: grid;
  }
  
  .main-rectangle {
    position: relative;
    width: 70%;
    height: 200%;
    left: 5%;
    top: 40%;
    background: #ffffff;
    border-radius: 42px;
  }

  .main-item {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2vw;
    top: 20%;
    font-family: 'Montserrat';
    padding: 2% 0% 2% 0%;
    transition: transform 0.3s ease;
    margin-right: 5%;
    margin-left: 5%;
  }
  
  .menu-item {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 2vw;
    top: 20%;
    font-family: 'Montserrat';
    padding: 2% 0% 2% 0%;
    transition: transform 0.3s ease;
    margin-right: 5%;
    margin-left: 5%;
  }
  
  .menu-item:hover {
    transform: scale(1.1);
  }
  .active-tab {
    color: #ffffff;
    margin-left: 55px;
    margin-right: 55px;
    padding: 15px 15px 15px 15px;
    background: #db3d3d;
    border-radius: 42px;
  }
  
  .menu-rectangle {
    /*Not used FACK*/
    position: absolute;
    width: 17%;
    height: 60%;
    left: 3%;
    top: 20%;
    background: #db3d3d;
    border-radius: 42px;
  }
  
  .cns {
    position: relative;
    left: 80%;
    top: -42%;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 3vw;
  
    color: #ffffff;
  }
  
  .main-title {
    position: relative;
    left: 8%;
    top: -20%;
  
    font-family: 'Montserrat';
    font-size: 5vw;
  
    color: #ffffff;
    width: calc(100% - 106px);
    height: calc(100% - 72px);
  }

  .main-btn{
    position: relative;
    top: -100%;
    left: -3%;
  }
  
  .main-button {
    position: relative;
    text-decoration: none;
    font-size: 3.8vw;
    color: #000;
    font-family: 'Montserrat';
  
    left: 10%;
    top: 45%;
  
    background: #ffffff;
    border-radius: 40px;
    padding: 1.5% 11% 1.5% 3%;
  }
  
  .arrow-rectangle {
    position: relative;
    width: 9%;
    height: 57%;
    left: 45%;
    top: -5%;
  
    background: #db3d3d;
    border-radius: 40px;
  }
  
  .arrow-img {
    position: relative;
    width: 5vw;
    height: 5vw;
    left: 19%;
  }
  
  .line1 {
    position: relative;
    width: 30%;
    height: 100%;
    left: 76%;
    top: -70%;
  }
  .line2 {
    position: relative;
    width: 30%;
    height: 60%;
    left: 44%;
    top: -95%;
  }
  .info {
    position: absolute;
    width: calc(100% - 106px);
    height: 838px;
    left: 53px;
    top: 920px;
  
    background: #db3d3d;
    border-radius: 60px;
  }
  .info-text {
    position: relative;
    left: 120px;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 6vw;
  
    color: #ffffff;
  }
  .support {
    position: absolute;
    width: calc(100% - 106px);
    height: 838px;
    left: 53px;
    top: 1804px;
  
    background: #db3d3d;
    border-radius: 60px;
  }
  .supp {
    position: relative;
    left: 120px;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 6vw;
  
    color: #ffffff;
  }
